* {
    font-size: 36px;
}

@keyframes animation1 {
    from{
        background-color: brown;

    }
    to{
        background-color: blue;
    }
}

.animationOne {
    animation-name: animation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-fill-mode: forwards; */
}

@keyframes animation2 {
    0% {
        background-color: brown;

    }
    25% {
        background-color: burlywood;

    }
    50% {
        background-color: cadetblue;
        border: 10px solid;

    }
    75% {
        background-color: chartreuse;

    }
    100% {
        background-color: blue;

    }
}

.animationTwo {
    animation-name: animation2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/* Animation Three */
@keyframes animation3 {
    from {
        left: -10%;

    }
    to {
        left: 100%;

    }
}

.animationThree {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: crimson;
    border-radius: 50%;
    margin-top: 50px;
    animation-name: animation3, animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-direction: reverse;
}
/* Task */

@keyframes animation4 {
    0% {
        left: 0%;
    }
    25% {
        left: 50%;
        transform: translateY(0)
    }
    50% {
        left: 50%;
        transform: translateY(200px);
    }
    75% {
        left: 50%
    }
    100% {
        left: 0%;
        transform: translateY(200px);
    }
}

.task {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    border-radius: 50%;
    margin-top: 200px;
    animation-name: animation4;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   
}