.transition {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
    margin: 100px auto;
    border-radius: 50%;
    transition-property: width, height, background-color;
    transition-duration: 1s;
    
}

.transition:hover {
    width: 400px;
    height: 400px;
    background-color: burlywood;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px auto;
    background-color: darkgoldenrod;
    transition: background-color 1s, padding 3s;
}

button:hover {
    background-color: cadetblue;
    padding: 15px 60px;
}